.header {
  background-color: #243b5d;
  color: #fff;
  text-align: center;
  padding: 6rem;
  padding-top: calc(6rem + 60px); /* Add extra padding for navbar */
}

.header__image {
  height: 18rem;
  border-radius: 50%;
}

.header__name {
  margin: 1rem 0 2rem 0;
}

.header__title {
  font-size: 2.5rem;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 4rem 1rem;
    padding-top: calc(3rem + 200px); /* Increase padding for expanded mobile navbar */
  }

  .header__image {
    height: 12rem;
  }

  .header__title {
    font-size: 1.8rem;
  }
}