.nav-bar {
  width: 100%;
  background-color: #1b1b1b;
  position: fixed;
  display: flex;
}

.nav-bar__list {
  margin-left: 20px;
  list-style: none;
  display: flex;
}

.nav-bar__item {
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
}

.nav-bar__link {
  text-decoration: none;
  color: white;
}

.nav-bar__socials {
  padding: 15px 0 15px 0;
  margin: 0 40px 0 auto;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 25px;
}
