footer {
  height: 5rem;
  background-color: #1b1b1b;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  color: white;
}

@media screen and (max-width: 768px) {
  footer p {
    font-size: 0.9rem;
    text-align: center;
    padding: 0 1rem;
  }
}